<div class="jobcard d-flex">
  <div class="logo">
    <img class="rounded" src="{{businesslogo}}" alt="Logo de l'entreprise {{businessname}}">
  </div>
  <div class="jobinfo">
    <span class="text-secondary d-block">{{jobtitle}}</span>
    <span class="d-block"><a href="{{businessurl}}">{{businessname}}</a></span>
    {% if location %}
    <span class="text-muted d-block">{{location}}</span>
    {% endif %}
    <div>
      <span>Il y a {{postedAgo}} jours</span>
      {% if hours %}
      <span>{{hours}}</span>
      {% endif %}
      {% if salary %}
      <span>{{salary}}/h</span>
      {% endif %}
    </div>
    <a class="btn goto btn-warning" href="{{joburl}}">Voir l'offre</a>
  </div>
</div>
