<div class="jobcard d-flex m-4">
  {% if businesslogo %}
  <div class="logo mr-4">
    <img class="rounded" src="{{businesslogo}}" alt="Logo de l'entreprise {{businessname}}">
  </div>
  {% endif %}
  <div class="jobinfo">
    <span class="text-secondary d-block">{{jobtitle}}</span>
    <span class="d-block"><a href="{{businessurl}}">{{businessname}}</a></span>
    {% if location %}
    <span class="text-muted d-block"><i class="fas fa-map-marker-alt"></i> {{location}}</span>
    {% endif %}
    <div>
      <span><i class="fas fa-clock text-secondary"></i> Il y a {{postedAgo}} jours</span>
      {% if hours %}
      <span><i class="fas fa-suitcase text-secondary"></i> {{hours}}h/sem</span>
      {% endif %}
      {% if salary %}
      <span><i class="fas fa-dollar-sign text-secondary"></i> {{salary}}$/h</span>
      {% endif %}
    </div>
    <a class="btn goto btn-warning btn-sm" href="{{joburl}}">Voir l'offre</a>
  </div>
</div>
