<div class="card shadow">
  <div class="card-header">
    <h4 class="card-title">{{jobtitle}}</h4>
    <h5 class="card-subtitle"><a href="{{businessurl}}">{{businessname}}</a></h5>
  </div>
  <div class="card-body">
    <p>{{jobdescription|raw}}</p>
    <a class="card-link" href="{{joburl}}">Voir l'offre <i class="fas fa-chevron-right"></i></a>
  </div>
</div>
