<a href="{{url}}">
  <div class="text-center mb-5 {{color}}">
    <img class="rounded-circle mb-3" src="{{image}}" alt="Image de {{title}}"/>
    <h4>{{title}}</h4>
    <h5 class="text-muted">Durée de: {{length}}</h5>
  </div>
</a>
