<div class="text-center mb-5 py-5">
  <a class="text-center {{color}}" href="{{url}}">
    <img class=" mx-auto rounded-circle mb-3" src="{{image}}" alt="Image de {{title}}"/>
    <h4>{{title}}</h4>
    <h5 class="text-muted">Durée de: {{length}}</h5>
  </a>
</div>
